
.navheader {
	background-color: cornsilk;
	list-style-type: none;
	width: 100px;
	color: black; 
	border-style: outset;
	text-decoration: none;
}

li {
	display: inline-block;
}

body {
	background-color: lightblue;
}

h1 	{
	color: navy;
	margin-left: 35px;
}

div	{
	overflow: auto;
}

p	{
	padding-left: 35px;
	padding-right: 35px;
}	

.image1 {
	float: right;
	clear: right;
	padding-left: 35px;
	padding-right: 35px;

}	

.image2 {
	float: left;
	clear: left;
	padding-left: 35px;
	padding-right: 35px;

}

a:link {
    text-decoration: none;
}

.column1 {
	width: 25%;
	float: left;
	clear: left;
	margin-left: 35px;
	padding-left: 5px;
	background-color: lavender;

}

.column2 {
	width: 60%;
	float: left;
	background-color: gray;
	margin-right: 35px;
}

